.btn {padding: 0.2rem 0.5rem 0.2rem 0.5rem; border-radius: 0.5rem;}
.btn-primary {background-color: rgb(57, 113, 218);}
.btn-success {background-color: rgb(92, 218, 57);}
.btn-error {background-color: rgb(218, 57, 57);}